@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-LightItalic.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Regular.ttf')  format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Italic.ttf')  format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Bold.ttf')  format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-BoldItalic.ttf')  format('truetype');
	font-weight: 700;
	font-style: italic;
}


body {
	font-family: 'Josefin Sans', 'Arial Narrow', Arial, sans-serif;
	height: 2000px;

	#expandable {
		padding: 30px;
		position: fixed;
		font-size: 70px;
		line-height: 70px;
		mix-blend-mode: difference;
		color: #FFFFFF;

		.name-header {
			color: #FFFFFF;
		}

		&.white {
			mix-blend-mode: unset;
		}
	}

	#side-menu {	
		color: #FFFFFF;
    width: fit-content;
    position: fixed;
		top: 110px;
		font-size: 20px;
		padding-left: 30px;
		left: -210px;
		
		ul {
			list-style: none;
			padding: 0;

			li {
				padding: 5px 0;

				a {
					text-decoration: none;
					color: inherit;
					cursor: pointer;
				}
			}
		}
	}

	#scroll-over {
		width: 100%;
		height: 400px;
		background: #ffffff;
	}

	.scroller-section {
		width: 100%;
		height: 2000px;
	}

	#padding {
		background: #000000;
		height: 50px;
	}

	#about {	
		background: #000000;
	}

	#resume {
		background: #455A64;
	}

}