@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-LightItalic.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Regular.ttf')  format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Italic.ttf')  format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Bold.ttf')  format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-BoldItalic.ttf')  format('truetype');
	font-weight: 700;
	font-style: italic;
}


body {
	font-family: 'Josefin Sans', 'Arial Narrow', Arial, sans-serif;
	height: 2000px;

	#expandable {
		padding: 30px;
		position: fixed;
		font-size: 90px;
		line-height: 90px;
		color: #ECEBE4;
	}

	#side-menu {	
		color: #ECEBE4;
    width: fit-content;
    position: fixed;
		top: 110px;
		font-size: 20px;
		padding-left: 30px;
		left: -210px;
		
		ul {
			list-style: none;
			padding: 0;

			li {
				padding: 5px 0;

				a {
					text-decoration: none;
					color: inherit;
					cursor: pointer;
				}
			}
		}
	}

	#scroll-over {
		width: 100%;
		height: 400px;
		background: #393D3F;
	}

	.scroller-section {
		width: 100%;
		display: inline-block;

		.scroll-button-container {
			color: #ECEBE4;
			text-align: center;
			
			i {
				font-size: 40px;
				position: relative;
				top: -12px;
				cursor: pointer;
			}
		}

		div.text {
			padding-top: 600px;
		}

		&#about {
			background: #426A5A;
		}
	
		&#experience {
			background: #326273;
		}

		&#contact {
			background: #393D3F;
		}

		&#footer {
			background: #5C9EAD;
		}

		p {
			margin: 0 auto;
			color: #ECEBE4;
			max-width: 800px;
			width: 60%;
			font-size: 30px;
			font-weight: 300;
			padding-bottom: 50px;

			&:focus {
				outline: none;
			}
		}
	}

	

}