$green: #426A5A;
$dark-blue: #326273;
$dark-grey: #393D3F;
$light-blue: #5C9EAD;

$gainsboro: #DADAD9;
$spanish-gray: #909590;
$myrtle-green: #357266;
$deep-space: #416165;
$jet: #333232;

$fade-time: .2s;

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Light.ttf')  format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-LightItalic.ttf')  format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Regular.ttf')  format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Italic.ttf')  format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-Bold.ttf')  format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin Sans';
	src: url('../fonts/JosefinSans-BoldItalic.ttf')  format('truetype');
	font-weight: 700;
	font-style: italic;
}


body {
	font-family: 'Josefin Sans', 'Arial Narrow', Arial, sans-serif;
	height: 2000px;

	#expandable {
		padding: 30px;
		position: fixed;
		font-size: 90px;
		line-height: 90px;
		color: $gainsboro;

		a.name-header {
			border: 8px solid;
			padding: 16px 12px 6px 14px;
			display: block;
			-webkit-margin-before: 1em;
			-webkit-margin-after: 1em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			-webkit-transition: background-color $fade-time ease-out;
			-moz-transition: background-color $fade-time ease-out;
			-o-transition: background-color $fade-time ease-out;
			transition: background-color $fade-time ease-out;
			
			&:hover {
				cursor: pointer;
				background-color: $deep-space !important;
				-webkit-transition: background-color $fade-time ease-out;
				-moz-transition: background-color $fade-time ease-out;
				-o-transition: background-color $fade-time ease-out;
				transition: background-color $fade-time ease-out;
			}
		}
	}

	#side-menu {	
		color: $gainsboro;
    width: fit-content;
    position: fixed;
		top: 110px;
		font-size: 20px;
		padding-left: 30px;
		left: -210px;
		
		ul {
			list-style: none;
			padding: 0;

			li {
				padding: 5px 0;
				
				a {
					text-decoration: none;
					color: inherit;
					cursor: pointer;

					&::after{
						content: '';
						display: block;
						width: 0;
						height: 3px;
						background: $gainsboro;
						transition: width $fade-time;
					}

					&.active::after, &:hover::after {
						width: 100%;
					}
				}
			}
		}
	}

	#scroll-over {
		width: 100%;
		height: 400px;
		background: $spanish-gray;

		&:focus {
			outline: none;
		}
	}

	i {
		color: $gainsboro;
		cursor: pointer;
		-webkit-transition: color $fade-time ease-out;
		-moz-transition: color $fade-time ease-out;
		-o-transition: color $fade-time ease-out;
		transition: color $fade-time ease-out;

		&:hover {
			color: $spanish-gray;
			-webkit-transition: color $fade-time ease-out;
			-moz-transition: color $fade-time ease-out;
			-o-transition: color $fade-time ease-out;
			transition: color $fade-time ease-out;
		}
	}

	.scroller-section {
		width: 100%;
		display: inline-block;

		.scroll-button-container {
			text-align: center;
			
			i {
				text-shadow: 0 0 15px #404040;
				font-size: 40px;
				position: relative;
				top: -12px;
			}
		}

		div.text {
			padding-top: 600px;
		}

		&#intro {
			background: $myrtle-green;
		}
	
		&#experience {
			background: $spanish-gray;
		}

		&#contact {
			background: $deep-space;

			div.contact-links {
				text-align: center;
				color: $gainsboro;
				font-size: 60px;
				margin-bottom: 50px;
			}
		}

		&#footer {
			background: $jet;
			height: 800px;

			.copyright {
				text-align: center;
				font-size: 18px;
			}
		}

		p {
			margin: 0 auto;
			color: $gainsboro;
			max-width: 800px;
			width: 60%;
			font-size: 30px;
			//font-weight: 300;
			padding-bottom: 50px;

			&:focus {
				outline: none;
			}
		}
	}

	@media screen and (max-width: 767px) {

		.scroller-section p:not(.copyright) {
			margin: 0 0 0 175px;
			font-size: 25px;
		}

		.name-header {
			background: inherit;
		}

		#side-menu ul {
			padding: 10px;
			border: 3px solid $gainsboro;
		}
	}

}